body {
background-color: #EFF4EE
}

h1 {font-family:serif;
    font-size:50px;
    color: #1B2E8F; }

p {font-size: 35px;
    color: #000000}


.choice1{
    font-size: 25px;
    text-decoration: none;
    color: #E19191 ;

}

.choice2{
    font-size: 25px;
    text-decoration: none;
    color: #413636 ;
}